@model SimpleLti12.Models.ToolModel

@{
    ViewBag.Title = "IMS LTI 1.2 Tool";
}

<p>
    This is a simple Tool Provider using
    <a href="http://www.nuget.org/packages/LtiLibrary" target="_blank">LtiLibrary</a>
    in an ASP.NET MVC page.  
</p>

@ViewBag.Message




